.razmer {
    width: 175px;
    height: 40px;
    border-radius: 67px;
}

button{
    font-size: 22px;
    height:100%;
    white-space: nowrap;
}

.footerimg {
    margin-left: 20px;
}

.logofooter {
    margin-left:50px;
}

.rasstoyaniefooter {
    margin: 231px;
}

.container {
    /* background-color: #D9D9D9; */
}

.rigthfooter {
    text-align: right;
}
