.razmer {
    width: 175px;
    height: 40px;
    border-radius: 67px;
}

button{
    font-size: 22px;
    height:100%;
    white-space: nowrap;
}

.footerimg {
    margin-left: 20px;
}

.logofooter {
    margin-left:50px;
}

.rasstoyaniefooter {
    position: relative;
    margin: 275px;
}

.container {
    /* background-color: #D9D9D9; */
    padding: 20px 25px;
}

.rigthfooter {
    text-align: right;
}

.rasstoyaniebulok {
    margin-left: 650px;
}

.zasada {
    margin-left: 21.2%;
    display: flex;
}

.zasada2 {
    margin-left: 241px;
}
